<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="ProAndSolEntities" connectionString="metadata=res://*/Models.ProAndSolModel.csdl|res://*/Models.ProAndSolModel.ssdl|res://*/Models.ProAndSolModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-BEHNCRI\SQLEXPRESS;initial catalog=ProAndSol;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>